extends layout.pug


block content
    .memory
        img(src=`/${memory.thumbnail}`)
        h1=memory.title
        p=memory.description
        h2 글쓴이: #{memory.creator.name}
    if user._id === `${memory.creator._id}`
        a(href=`/memory/${memory._id}/update`) 
            button 수정하기
        a(href=`/memory/${memory._id}/delete`) 
            button 삭제하기
