extends layout.pug

block css
    link(rel="stylesheet", href="/static/css/memory.css")

block content
    a(href="/memory/upload") 업로드
    each memory in memories
        .memory
            a(href=`/memory/${memory._id}`)
                img(src=`/${memory.thumbnail}`)
                h1=memory.title
                p=memory.description
                h2 글쓴이: #{memory.creator.name}

block js 
    script(src="/static/js/memory.js") 